/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2020, 9:34:11 PM
    Author     : dayaprado
*/

body {
    margin: auto 10px;
    text-align: center;
}


#cabecalho {
    display: block;
    width: 100%;
    height: 150px;
}

#conteudo {
    display: block;
    width: 100%;
    height: 500px;
}

#lateral {
    float: left;
    width: 200px;
}

.barra-de-pesquisa {
    width: 450px;
}

.cabecalho {
    float: right !important;
}

.container{
    max-width: 480px;
    margin-left: 30%;
}

.container-2{
    max-width: 480px;
    margin-left: 34%;
}

.conteudo {
    float: right;
    width: 350px;
    min-width: 350px;    
    margin-left: 5px;
    text-align: left;
    display: inline-block;
}

.filtro {
    display: inline;
}

.form-group {}

.form-group  input {
    width: 50px;
    margin-left: 5px;
}

.form-group  button {
    color: black;
    background-color: #40E0D0;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 6px;
    text-transform: inherit;
    height: 20px;
    line-height: 5px;
}

.label {
    float: right;
    margin: 5px;
}

.rodape {
    position: relative;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding-top: 5px; 
    background-color: #40E0D0;
}

.rodape-abs {
    position: absolute;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding-top: 5px; 
    background-color: #40E0D0;
}

.rodape-fixed {
    position: fixed;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding-top: 5px; 
    background-color: #40E0D0;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.row  input {
    float: right;
    width: 350px;
    margin-left: 5px;
}

.row button{
    float: right;
    color: black;
    background-color: #40E0D0;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 6px;
    text-transform: inherit;
    height: 25px;
    line-height: 10px;
    padding: 0 60px;
}


.left {
    float: left;
    padding: 10px 10px 10px 10px;
}

.right {
    float: right;
}

.search-center {
    display: inline;
    padding: 10px 10px 10px 10px;
}

.lista-lojas {
  width: 600px;
  height: 70px;
  float: right;
  padding-right: 300px;
}
.lista-shopping {
  width: 600px;
  height: 70px;
  float: right;
  padding-right: 300px;
}

.card {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  text-align: left;
}

.card::after {
  content: "";
  clear: both;
  display: table;
}

.card img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.card span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .card {
      text-align: center;
  }
  .card img {
      margin: auto;
      float: none;
      display: block;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}